*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.p-icecream{
  border: 1px solid red;
  height: 88vh;
  display: flex;
  
}
.user-info{
  border: 1px solid green;
  width: 50%; 
  position: relative;
}
.a{
  /* border: 1px solid black; */
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.a div{
  display: flex;
  justify-content:center;
  
}
.a div input{
  width: 50%;
  font-size: 20px;
  border-radius: 6px;
  margin-left: 5px;
}
.a button{
  cursor: pointer;
  margin-bottom: 50px;
  width: 40%;
  padding: 10px;
  font-size: 15px;
  border-radius: 10px;
  background-color: rgb(0, 140, 255);
  color: white;

}
.modal1{
  position: absolute;
  top: 25px;
  left: 400px;
  width: 200px;
  height: auto;
  background-color: rgb(0, 140, 255) ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 10px; */
}
.modal1 button{
  cursor: pointer;
  background-color: transparent;
  color: aliceblue;
  font-size: 20px;
  /* border: none; */
  width: 100%;
  padding: 10px;
}
.modal2{
  position: absolute;
  top: 170px;
  left: 400px;
  width: 200px;
  height: auto;
  background-color: rgb(0, 140, 255) ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal2 button{
  cursor: pointer;
  background-color: transparent;
  color: aliceblue;
  font-size: 15px;
  /* border: none; */
  width: 100%;
  padding: 10px;
}
.modal3{
  position: absolute;
  top: 320px;
  left: 400px;
  width: 200px;
  height: auto;
  background-color: rgb(0, 140, 255) ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal3 button{
  cursor: pointer;
  background-color: transparent;
  color: aliceblue;
  font-size: 15px;
  /* border: none; */
  width: 100%;
  padding: 10px;
}
/* .modal4{
  position: absolute;
  top: 320px;
  left: 650px;
  width: 200px;
  height: auto;
  background-color: rgb(0, 140, 255) ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal4 button{
  cursor: pointer;
  background-color: transparent;
  color: aliceblue;
  font-size: 15px;
  
  width: 100%;
  padding: 10px;
} */
#price{
  border: 1px solid black;
  display: flex;
  width: 200px;
}
#price span{
  border: 1px solid black;
  width: 50%;
}
#order:hover{
  background-color: black;
  color:  rgb(0, 140, 255);
}
.output{
  border: 1px solid blue;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bread{
  /* border: 1px solid black; */
  width: 300px;
  height: 210px;
  text-align: center;
  
}
.bread img{
  width: 200px;
  height: 200px;
}
.scoop{
  /* border: 1px solid black; */
  width: 300px;
  height: 210px;
  position: relative;
}
.scoop img{
  width: 100px;
  height: 100px;
  border: 1px solid red;
  border-radius: 50%;
}
.img1{
  position: absolute;
  top: 5px;
  left: 100px;
}
.img2{
  position: absolute;
  top: 100px;
  left: 40px;
}
.img3{
  position: absolute;
  top: 100px;
  right: 40px;
}
.scoop button{
  cursor: pointer;
  position: absolute;
  width: 50px;
  background-color: red;
  color: aliceblue;
  font-size: 20px;
}
#payment{
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  left: 400px;
  background-color: rgb(36, 207, 87);
  padding: 5px 10px;
}